/* Apply a specific class to the form for styling */
.search-form {
    margin: 10px; /* Add margin to the form to push it away from the edges */
    display: flex; /* Use flexbox for layout control */
    align-items: center; /* Vertically center items in the form */
}

/* Optional: Adjust the width of the search form as needed */
.search-form {
    width: 300px; /* Set a specific width for the form */
}

/* Center the search form horizontally within the header */
header {
    display: flex;
    justify-content: flex-start; /* Adjust as needed */
    align-items: center; /* Vertically center items in the header */
    height: 80px; /* You can adjust the header height as needed */
}

/* Optional: Add background color or styling to the header */
header{
    background: #ece3ce;
background: -webkit-linear-gradient(107deg, #ece3ce 0%, #739072 100%);
background: linear-gradient(107deg, #ece3ce 0%, #739072 100%);
}

.btn{
    background-color: #739072 !important;
}

body{
    background: #ece3ce !important;
background: -webkit-linear-gradient(107deg, #ece3ce 0%, #739072 100%) !important;
background: linear-gradient(107deg, #ece3ce 0%, #739072 100%) !important;
}

.nav-link{
    color: #ece3ce !important;
}

.logoImage{
    background-color: #739072;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 15px;
}

a{
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

 